<div id="about">
    <div class="container">
        <div class="ab-box">
            <div class="ab1">
                <img src="me1.png" alt="hiten">
            </div>
            <div class="ab2">
                <div class="ab21">
                    <p>Welcome To My World</p>
                </div>
                <div class="ab22">
                    <h1>I Am A <span>Mern Stack Developer</span>, Youtuber And A Freelancer</h1>
                </div>
                <div class="ab23">
                    <button id="ab-check" class="check">ABOUT ME</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="script2.js"></script>