<div class="container">
    <div class="w-main">
        <div class="search">
            <input id="query" placeholder="Search here ..." type="text">
            <button class="search-btn">Search</button>
        </div>
        <div class="w-box">
            <div class="w-box1">
                <div class="day">
                    <p>Day</p>
                </div>
                <div class="date">
                    Date
                </div>
            </div>
            <div class="w-box2">
                <p class="output">Get Output Here..</p>
            </div>
        </div>
    </div>
</div>
<script src="script.js"></script>